<div>
    <div align="center">
        <h1>You have no courses!</h1>
        <h3>Please call Your teacher or administrator.</h3>
        <form class="form-horizontal row" role="form">
            <div class="form-group form-inline text-center">
                <h4 class="col-sm-6">Number:</h4>
                <span class="col-sm-6">0938599486</span>
            </div>
            <div class="form-group form-inline text-center">
                <h4 class="col-sm-6">Email:</h4>
                <span class="col-sm-6">WoWTeam@gmail.com</span>
            </div>
        </form>
    </div>
</div>
